@use 'src/app/styles/breakpoints';

.loader-book-preview {
    &__wrapper-img {
        height: 290px;
        width: 250px;

        padding: 30px;
    }

    &__img {
        height: 260px;
        width: 220px;

        margin: 30px;
    }

    &__subtitle {
        height: 11px;
        margin-bottom: 10px;
    }

    &__price {
        width: 100px;
        height: 28px;
    }
}

@media (max-width: breakpoints.$sm) {
    .loader-book-preview {
        &__wrapper-img {
            height: 210px;
            width: 160px;

            padding: 0;
        }

        &__img {
            height: 210px;
            width: 160px;

            margin: 0;
        }

        &__subtitle {
            height: 11px;
            margin-bottom: 5px;
        }

        &__price {
            width: 100px;
            height: 28px;
        }
    }
}
