@use 'src/app/styles/breakpoints';

.header {
    padding-top: 40px;
    padding-bottom: 40px;

    &__wrapper {
        display: grid;

        width: 100%;
        height: 54px;

        align-items: center;
        justify-content: space-between;

        grid-template-columns: 20% 50% 20%;
        grid-template-areas: 'title search buttons';
    }

    &__title {
        grid-area: title;

        max-width: max-content;
        margin: 0;
        font-weight: bold;
        white-space: nowrap;

        color: var(--primary-bg);
    }

    &__search {
        grid-area: search;
        justify-self: stretch;

        padding-right: 15px;
        padding-left: 15px;
    }

    &__btn-wrapper {
        grid-area: buttons;
        justify-self: end;

        display: flex;
        align-items: center;
        max-width: max-content;
        height: inherit;

        padding: 5px 25px 0;
        gap: 50px;

        border: 1px solid var(--border);
        border-radius: 4px;
    }

    &__navigation-menu {
        width: 100%;
        background: var(--light);
        position: sticky;
        top: 0;
        z-index: 10;
    }

    &__navigation-menu_sticky {
        .layout__navigation-menu-btn-wrapper {
            opacity: 1;
        }
    }

    &__navigation-menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &__navigation-menu-list {
        display: flex;
        padding: 0;
        gap: 40px;
    }

    &__navigation-menu-item {
        margin: 28px 0;
    }

    &__navigation-menu-btn-wrapper {
        display: flex;
        gap: 30px;
        opacity: 0;

        transition: opacity 0.3s ease-in-out;
    }

    &__navigation-menu-button {
        .icon-button__icon {
            width: 25px;
            height: 25px;
        }
    }

    &__navigation-menu-link {
        color: var(--text-primary);
        font-size: 14px;

        padding-bottom: 10px;

        cursor: pointer;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size 0.3s ease-in-out;

        &:hover {
            color: var(--red);
            background-size: 100% 2px;
        }

        &_active {
            color: var(--dark-red);
            background-size: 100% 2px;
        }
    }

    &__menu-open-btn {
        display: none;
        grid-area: menu;

        border: none;
        background: transparent;
    }

    &__menu-icon {
        fill: var(--text-primary);
        width: 30px;
        height: 30px;
    }
}

@media (max-width: breakpoints.$lg) {
    .header {
        &__navigation-menu-btn-wrapper {
            display: none;
        }
    }
}

@media (min-width: breakpoints.$md) and (max-width: breakpoints.$lg) {
    .header {
        &__navigation-menu-link {
            font-size: 12px;
        }

        &__navigation-menu-list {
            gap: 30px;
        }
    }
}

@media (max-width: breakpoints.$md) {
    .header {
        padding-top: 15px;

        &__wrapper {
            justify-items: start;
            row-gap: 10px;
            grid-template-columns: 20% 40% 40%;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas:
                'title title buttons'
                'menu search search';
        }

        &__btn-wrapper {
            padding: 5px 10px 0;
        }

        &__search {
            padding: 0;
        }

        &__navigation-menu {
            position: relative;
            z-index: 0;
            background: transparent;

            margin-top: 40px;
        }

        &__menu-open-btn {
            display: block;
        }

        &__navigation-menu-wrapper {
            height: 510px;
            flex-direction: column;
            margin-bottom: 20px;

            transition: all 0.4s allow-discrete;

            &_hide {
                height: 0;
                opacity: 0;
            }
        }

        &__navigation-menu-list {
            flex-direction: column;
            gap: 25px;
        }

        &__navigation-menu-item {
            margin: 0;
        }
    }
}
